/* GENERAL */

body											{margin:0; padding:0; font-family:Tahoma, Geneva, sans-serif; background:url('../images/body-back.jpg') repeat 0 0;}
.full-area										{margin:0 auto; padding:0 0 50px 0; width:1000px; background:url('../images/content-back.jpg') repeat-y 0 0;}
img												{border:none;}
.bold											{font-weight:bold;}
.italic											{font-style:italic;}
.center											{text-align:center;}
.underline										{text-decoration:underline;}
h1												{margin:0; padding:0 0 20px 0; color:#A62500; font-size:25px; font-weight:normal; font-family:Georgia, serif;}
h2												{margin:0; padding:0 0 8px 0; color:#071C71; font-size:19px; font-weight:normal; font-family:Georgia, serif;}
h3												{margin:0; padding:0 0 5px 0; color:#071C71; font-size:15px; font-weight:normal; font-family:Georgia, serif;}
h4,h5,h6    										{margin:0; padding:0 0 5px 0; color:#868370; font-size:12px; font-weight:normal;}
p 												{margin:0; padding:0 0 5px 0; color:#58544c; font-size:12px; line-height:18px;}
ol,ul,li											{margin:0; padding:0; color:#58544c; font-size:12px;}
a												{margin:0; padding:0; color:#518977; font-size:12px;}
a:hover											{color:#518977; text-decoration:none;}
table											{margin:0; padding:0; border-collapse:collapse;}
tr, td, th										{margin:0; padding:0; vertical-align:top; font-family:Arial, Helvetica, sans-serif, sans-serif;}
form,input										{margin:0; padding:0;}

/* HEADER */
.header											{margin:0 auto; padding:0; width:840px; height:150px; position:relative;}
.logo											{margin:0; padding:0; width:295px; height:59px; display:block; background:url('../images/logo.png') no-repeat 0 0; position:absolute; top:20px; left:0px;}

/* NAVIGATION */
ul.nav											{margin:0; padding:0; width:auto; list-style-type:none; position:absolute; bottom:10px; left:0;}
ul.nav li											{margin:0; padding:0; position:relative; float:left;}
ul.nav li a										{margin:0 5px; padding:5px 42px; color:#dae0ed; font-size:13px; display:block; text-decoration:none; background-color:#2A4480; -moz-border-radius: 5px 5px 0 0; border-radius:  5px 5px 0 0; -moz-box-shadow: 0 5px 8px #c8ccd5; -webkit-box-shadow: 0 5px 8px #c8ccd5;}
ul.nav li a:hover									{background-color:#314f94; color:#fff;}
ul.nav li a.active									{background-color:#973906; color:#fff; -moz-box-shadow: 0 5px 8px #04376C; -webkit-box-shadow: 0 5px 8px #04376C;}

/* CONTENT */
.content										{margin:0 auto; padding:20px 0 0 0; width:840px; overflow:hidden;}
.left-box										{margin:0 0 20px; padding:0; width:400px; float:left;}
.left-box p										{color:#fff; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
.left-box h2										{color:#F0F8FF; font-family:Georgia; font-size:17px; text-transform:uppercase;}
.house1											{margin:0; padding:0; width:400px; height:270px; display:block;}
.left											{margin:0 0 20px 0; padding:0; width:370px; float:left;}
.left .left-side									{margin:0; padding:0 0 20px; width:50%; float:left;}
.left .right-side								{margin:0; padding:0 0 20px; width:50%; float:right;}
.left h2											{margin:0; padding:0 0 10px;}
.left a											{margin:0 0 0 20px; padding:2px 10px 3px; color:#fff; background:#BF4B30; text-decoration:none; -moz-border-radius: 5px; border-radius:  5px;}
.left a:hover									{background:#A62000;}
.right-box										{margin:0 0 20px 0; padding:0; width:400px; float:right;}
.right-box p										{color:#fff; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
.right-box h2									{color:#F0F8FF; font-family:Georgia; font-size:17px; text-transform:uppercase;}
.house2											{margin:0; padding:0; width:400px; height:270px; diplay:block;}
.house2 img										{width:400px; height:270px;}
.lighthouse										{margin:0; padding:0; width:400px; height:280px; display:block;}
.lighthouse2									{margin:0; padding:0; width:400px; height:259px; display:block;}
.sub-content									{margin:0 auto; padding:20px 20px; width:800px; background-color:#f0f8ff; clear:both; overflow:hidden; -moz-border-radius: 10px; border-radius:  10px;}
.sub-content h1									{clear:both; text-align:center;}
.sub-content h1 span								{margin:0; padding:0; color:#581f0f; font-size:12px; display:block; font-family:tahoma;}
.sub-content p									{margin:0; padding:0 0 5px;}
.sub-content span.highlight						{color:#FF591F;}
.sub-content ul									{margin:0; padding:0; list-style-type:none;}
.sub-content ul li									{margin:0; padding:0 0 10px; color:#000;}
.sub-content ul li span								{margin:0 5px 0 0; padding:0; width:20px; height:20px; display:block; float:left; background:url('../images/fish-bullet2.png') no-repeat 0 0;}
.sub-content .small-box							{margin:0 33px 40px; padding:0; width:200px; height:133px; float:left;}
.sub-content .small-box img						{width:200px; height:133px; border:5px solid #dfdfdf;}
.sub-content.narrow .right-box					{margin:0 0 20px 20px;}
.sub-content.narrow .right-box p					{color:#071C71; padding:0;}
.sub-content.narrow h2							{padding-left:20px; font-size:14px; text-transform:uppercase;}
.sub-content.narrow p							{padding-left:20px;}
.sub-content.narrow ul							{padding-left:20px;}
.sub-content .inner-wrapper						{margin:20px auto; padding:10px 20px; width:auto; background:#FFF1CF; clear:both; overflow:hidden; -moz-border-radius: 10px; border-radius:  10px;}
.sub-content .inner-wrapper h2					{padding-left:0;}
.sub-content .inner-wrapper h2.pad				{padding-top:20px;}
.sub-content .inner-wrapper ul					{padding-left:0;}
.sub-content .inner-wrapper p					{padding-left:0;}
.sub-content .inner-wrapper .left-side			{margin:0; padding:0; width:50%; float:left;}
.sub-content .inner-wrapper .left-side h3			{margin:0; padding:0; text-decoration:underline;}
.sub-content .inner-wrapper .right-side			{margin:0; padding:0; width:50%; float:right;}
.sub-content .inner-wrapper .right-side h3		{margin:0; padding:0; text-decoration:underline;}
.sub-content .inner-wrapper a					{margin:0; padding:2px 10px 3px; color:#fff; background:#BF4B30; text-decoration:none; -moz-border-radius: 5px; border-radius:  5px;}
.sub-content .inner-wrapper a:hover				{background:#A62000;}
.hide											{display:none;}

/* FOOTER */
.footer											{margin:20px auto; padding:0; width:840px; overflow:hidden;}
.footer .left-side								{margin:0; padding:0; float:left;}
.footer .left-side a								{margin:0; padding:0; color:#fff; font-size:11px; text-decoration:none;}
.footer .left-side a:hover						{text-decoration:underline;}
.footer .left-side span							{margin:0; padding:0 0 0 4px; color:#3f3f3f; font-size:11px;}
.footer .right-side								{margin:0; padding:0; float:right;}
.footer .right-side p							{margin:0; padding:0; color:#fff; font-size:11px;}
.footer .right-side a							{color:#fff; font-size:11px;}
.footer .right-side a:hover						{text-decoration:none;}
.footer .right-side span							{margin:0; padding:0; color:#3f3f3f; font-size:11px;}



