/* GENERAL */
::selection             						{background-color:#F9459E; color:#FFFFFF;}
::moz-selection         						{background-color:#F9459E; color:#FFFFFF;}
::webkit-selection      						{background-color:#F9459E; color:#FFFFFF;}

/* CONTENT */
.left-box										{margin:0 0 20px; padding:0; width:400px; float:left;}
.left-box p										{padding:10px 0 0; color:#8e9ca4; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
.left-box h2									{color:#8e9ca4; font-family:Georgia; text-transform:uppercase;}
.left-box a 									{border: 3px solid #ffffff}
.house1											{margin:0; padding:0; width:400px; height:270px; display:block;}

.right-box										{margin:0 0 20px 0; padding:0; width:400px; float:right;}
.right-box p									{padding:10px 0 0; color:#8e9ca4; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
.right-box h2									{color:#8e9ca4; font-family:Georgia; font-size:17px; text-transform:uppercase;}
.right-box a 									{border: 3px solid #ffffff}
.house2											{margin:0; padding:0; width:400px; height:270px; display:block;}
.house2 img										{width:400px; height:270px;}

.hide											{display:none;}


