/* GENERAL */
::selection             								{background-color:#050c11; color:#FFFFFF;}
::moz-selection         								{background-color:#050c11; color:#FFFFFF;}
::webkit-selection      								{background-color:#050c11; color:#FFFFFF;}
.bold 													{font-weight: bold}
		
/* CONTENT */		
.left-box												{margin:0 0 20px; padding:0; width:400px; float:left;}
.left-box p												{padding:10px 0 0; color:#8e9ca4; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
.left-box h2											{color:#8e9ca4; font-family:Georgia; text-transform:uppercase;}
.left-box a 											{border: 3px solid #ffffff}
.house1													{margin:0; padding:0; width:400px; height:270px; display:block;}
.right-box												{margin:0 0 20px 0; padding:0; width:400px; float:right;}
.right-box p											{padding:10px 0 0; color:#8e9ca4; font-family:Verdana, Geneva, sans-serif; font-size:10px;}
.right-box h2											{color:#8e9ca4; font-family:Georgia; font-size:17px; text-transform:uppercase;}
.right-box a 											{border: 3px solid #ffffff}
.house2													{margin:0; padding:0; width:400px; height:270px; display:block;}
.house2 img												{width:400px; height:270px;}
.hide													{display:none;}
		
.banner                     							{clear:both; padding:20px 20px 0; background:url('../images/box-tail.gif') repeat; -moz-border-radius:15px 15px 0 0; border-radius:15px 15px 0 0;}
.banner	#slides                   						{width:100%; height:412px; position:relative;}
.banner	#slides .slides_container       				{width:830px; height:412px; overflow:hidden; position:relative; display:none;}
.banner	#slides .slides_container .slide        		{width:830px; height:412px; display:block;}
.banner	#slides .slides_container .slide .caption    	{z-index:500; position:absolute; bottom:-35px; left:0; height:30px; padding:5px 20px 0 20px; background:#000; background:rgba(0,0,0,.5); width:100%; font-size:1.3em; line-height:1.33; color:#fff; border-top:1px solid #000; text-shadow:none;}
.banner	#slides .next, .prev            				{position:absolute; top:107px; left:-39px; width:24px; height:43px; display:block; z-index:101;}
.banner	#slides .next                   				{left:585px;}
.banner	#slides .pagination             				{margin:0; padding:0; width:100px; position:absolute; top:15px; left:20px; z-index:9999;}
.banner	#slides .pagination li                    		{float:left; margin:0 1px; padding:0; list-style:none;}
.banner	#slides .pagination a                   		{display:block; width:12px; height:0; padding-top:12px; background-image:url('../images/pagination.png'); background-position:0 0; float:left; overflow:hidden;}
.banner	#slides .pagination .current a         			{background-position:0 -12px;}

.USER 													{clear:both; padding:20px; background:url('../images/box-tail.gif') repeat; -moz-border-radius:15px; border-radius:15px;}
.USER.home 												{-moz-border-radius:0 0 15px 15px; border-radius:0 0 15px 15px;}
.USER h1												{margin:0; padding:0 20px 20px; color:#A62500; font-size:25px; font-weight:normal; font-family:Georgia, serif;}
.USER p 												{padding:0 20px; color:#292929;}

.footer .left-side										{margin:0; padding:0 0 0 40px; float:left;}
.footer .left-side a									{margin:0; padding:0; color:#fff; font-size:11px; text-decoration:none;}
.footer .left-side a:hover								{color:#c2edee;}
.footer .left-side span									{margin:0; padding:0 5px 0 8px; color:#60859F; font-size:11px;}
.footer .right-side										{margin:0; padding:0 40px 0 0; float:right;}
.footer .right-side p									{margin:0; padding:0; color:#fff; font-size:11px;}
.footer .right-side a									{color:#fff; font-size:11px;}
.footer .right-side a:hover								{text-decoration:none;}
.footer .right-side span								{margin:0; padding:0; color:#292929; font-size:11px;}

